<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plants</title>
    <link rel="stylesheet" href="../static/plants.css">
    <script src="../static/plants.js" defer></script>

</head>
<body>
    <div class="header">
        <h1>Plants</h1>
    </div>
    <p class="description">Plants are essential for life, helping to regulate the climate, protect biodiversity, purify the air and water, and maintain the balance of natural ecosystems</p>
    <br><br>
    <p class="description">Lets start a small quiz to se how ecological are you</p>
    <br><br><br><br><br><br><br>
    <div class="content">
        <p>How many plants de you have?</p>
        <input class="custom-placeholder"type="number" id="userInput" oninput="changeText()" placeholder="Number of plants">
    </div>
    <div class="lower">
        <p id="displayText"></p>
        <br><br>
    </div>
    <br><br><br>
    <div class="content">
        <p>How much time do you spend watering it?</p>
        <input class="custom-placeholder"type="number" id="userInput2" oninput="changeText2()" placeholder="Minutes watering">
    </div>
    <div class="lower">
        <p id="displayText2"></p>
        <br><br>
    </div>
    <br><br><br>
    <p class="description">We must adopt sustainable practices such as planting more trees, reducing waste, conserving water, and minimizing pollution. Simple actions like watering plants responsibly, avoiding harmful chemicals, and supporting reforestation efforts can significantly impact the health of our planet. By protecting plants, we ensure a better future for ourselves and future generations.</p>
</body>
</html>