<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/aguacss.css">
    <title>Water in 10 mins</title>
    <script src="/../static/aguajs.js" defer></script> 
</head>
<body> 
    <center>
        <div class="Big">101 DROPLETS</div> 
        <h1>A normal shower should take 10 minutes</h1>
        <h1>Every water jug has 25 liters</h1>
        
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        
        <h1>This is a 10-minute shower, THIS IS ALSO $200.00 PER year</h1>
        <hr>
        
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <h1>This is a 20-minute shower, THIS IS ALSO $400.00 PER year</h1>
        <hr>
        
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <img src="/../static/images/gallon.png" alt="Water Gallon">
        <h1>This is a 30-minute shower, THIS IS ALSO $600.00 PER year</h1>
        <hr>

        <h1>Insert the amount of minutes you shower</h1>
        
        <input type="number" id="numberInput" placeholder="Enter a number" />
        <button id="submitButton">Submit</button>

        <!-- Element to show the calculated result -->
        <p id="calculatedResult"></p>

        <!-- This is where images will appear -->
        <div id="imagesContainer" class="images-container"></div>
        
    </center>
</body>
</html>
